doctype html
html
	head
		title Osliki.Net

		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
		
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(charset="utf-8") 
		
		base(href="/")
		
		link(rel='stylesheet', href='/node_modules/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/src/splash.css')
		link(rel='stylesheet', href='/css/src/mydatepicker.css')
		link(rel='stylesheet', href='/css/src/style.css')
		// link(rel='stylesheet', href='/css/style.css')
		
		
		
		// script(src='/node_modules/es6-shim/es6-shim.js')
		script(src='/node_modules/systemjs/dist/system-polyfills.js')
		// script(src='/node_modules/angular2/es6/dev/src/testing/shims_for_IE.js')		
		script(src='/node_modules/angular2/bundles/angular2-polyfills.js')
		script(src='/node_modules/systemjs/dist/system.src.js')
		script(src='/node_modules/rxjs/bundles/Rx.js')
		script(src='/node_modules/angular2/bundles/angular2.dev.js')
		script(src='/node_modules/angular2/bundles/router.dev.js')
		script(src='/node_modules/angular2/bundles/http.dev.js')
		
		script.
			// System.import('bootstrap');
			
			window.user = {
				id: '#{user.id}',
				name: '#{user.name}',
				gravatar_hash: '#{user.gravatar_hash}'
			};
			
			window.googleMaps = {
				apiKey: 'AIzaSyBjCE2t7x2LK0YttTxEz9rN9hcuOxa9gfQ',
				apiVersion: 3,
				params: '&libraries=places&signed_in=true&language=en'
			};
			
			window.googleRecaptcha = function() {
				window.googleRecaptcha.loaded = true;
			};
			
			window.googleRecaptcha.key = '#{recaptcha.key}';
			window.googleRecaptcha.loaded = false;

			window.orderStatus = !{orderStatus};
			window.orderStatusConst = !{orderStatusConst};
			
			System.config({
				packages: {        
					client_compiled: {
						format: 'register',
						defaultExtension: 'js'
					}
				}
			});
			
			System.import('/client_compiled/boot').then( null, console.error.bind(console) );
			
			
			
	body

			
		app
			div.promo-text.text-center
				p
					br
					| People who travel frequently can deliver anything. For example, you live in the USA and you urgently need any medication or documents from Russia. In our application, you can find someone who is just about to arrive from Moscow to New York. He can help you for money or for free. Initialization app...
					br
					br
				
				


				
	
		if !user.id
			script(src='https://www.google.com/recaptcha/api.js?onload=googleRecaptcha&render=explicit', async, defer)
