doctype html
html
	head
		title Osliki.Net

		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(charset="utf-8") 
		
		base(href="/")

		link(rel='stylesheet', href='/css/style.css?4')

		

		// script(src='/node_modules/es6-shim/es6-shim.js')
		// script(src='/node_modules/systemjs/dist/system-polyfills.js')
		// script(src='/node_modules/angular2/es6/dev/src/testing/shims_for_IE.js')
		
		// script(src='/node_modules/angular2/bundles/angular2-polyfills.js')
		// script(src='/node_modules/systemjs/dist/system.src.js')
		// script(src='/node_modules/rxjs/bundles/Rx.js')
		// script(src='/node_modules/angular2/bundles/angular2.dev.js')
		// script(src='/node_modules/angular2/bundles/router.dev.js')
		// script(src='/node_modules/angular2/bundles/http.dev.js')
		
		script(src='/js/libs.js?8')
		script(src='/js/app.js?6')

	body

		app
			block content	
	
		script.			
			window.user = {
				id: '#{user.id}',
				name: '#{user.name}',
				gravatar_hash: '#{user.gravatar_hash}'
			};
			
			window.googleMaps = {
				apiKey: 'AIzaSyBjCE2t7x2LK0YttTxEz9rN9hcuOxa9gfQ',
				apiVersion: 3,
				params: '&libraries=places&signed_in=true&language=en'
			};
			
			window.googleRecaptcha = function() {
				window.googleRecaptcha.loaded = true;
			};
			
			window.googleRecaptcha.key = '#{recaptcha.key}';
			window.googleRecaptcha.loaded = false;

			window.orderStatus = !{orderStatus};
			window.orderStatusConst = !{orderStatusConst};
			
			window.invoiceStatus = !{invoiceStatus};
			window.invoiceStatusConst = !{invoiceStatusConst};
			
			window.fees = !{fees};

			System.config({
				packages: {        
					'boot': {
						format: 'register',
						defaultExtension: 'js'
					}
				}
			});
			
			System.import('boot').then( null, console.error.bind(console) );

		if !user.id
			script(src='https://www.google.com/recaptcha/api.js?onload=googleRecaptcha&render=explicit', async, defer)

		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-73067507-1', 'auto');
			ga('send', 'pageview');